/* Remove Bootstrap table-striped background */
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: inherit;
    --bs-table-bg-type: transparent;
  }
  /* .table-striped > tbody > tr > td {
    background-color: #366494; 
  } */

  .table-striped > tbody > tr.row-completed > td {
    background-color: #fdfdfd !important; /* Green for completed */
  }
  
  .table-striped > tbody > tr.row-assigned > td {
    background-color: #e6e5e3 !important; /* Yellow for assigned */
  }
  
  