/* Remove Bootstrap table-striped background */
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: inherit;
    --bs-table-bg-type: transparent;
  }
  /* .table-striped > tbody > tr > td {
    background-color: #366494; 
  } */

  .table-striped > tbody > tr.row-completed > td {
    background-color: #fdfdfd !important; /* Green for completed */
  }
  
  .table-striped > tbody > tr.row-assigned > td {
    background-color: #e6e5e3 !important; /* Yellow for assigned */
  }
  
  .add-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
  color: #236a80;
  background: #f5f9fc;
  border: 1px dashed #236a80;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.add-btn:hover {
  background: #e0f2ff;
  color: #0d3f66;
}

 @media print {
  .no-print {
    display: none !important;
  }
} 


/* ... existing CSS ... */

@media print {
  .no-print {
    display: none !important;
  }

  /* Add a margin and page break for report sections */
  .report-page-break {
    page-break-before: always !important;
    margin-top: 30px !important; /* Adjust value as needed */
    margin-bottom: 30px !important; /* Adjust value as needed */
  }
}
